@model TankMonitorV1.Models.Station

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Station</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GSID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GSID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GSName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GSName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TankCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TankCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descript)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descript)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
