@model IEnumerable<TankMonitorV1.Models.Station>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GSID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GSName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TankCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descript)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GSID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GSName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TankCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descript)
            </td>
            <td>
                <a asp-controller="Tanks" asp-action="StationTanks" asp-route-gsid="@item.Id">مخزن ها</a>  |
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.Id">مشاهده</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                |
            </td>
        </tr>
}
    </tbody>
</table>
